.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.section {
  max-height: 800px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  color: #463f3f;
}

.body {
  background-color: #fff;
  color: #463f3f;
}

.heading {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #eee;
  font-size: 60px;
}

.paragraph {
  font-weight: 700;
}

.paragraph-2 {
  max-width: 80%;
  font-family: Montserrat, sans-serif;
  color: #cecccc;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.button {
  margin-top: 38px;
  margin-right: 0px;
  margin-left: 100px;
  border-radius: 5px;
  background-color: #ec9b38;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  color: #160f0f;
  font-style: normal;
  font-weight: 700;
}

.nav-link.button {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  padding: 10px 18px;
  border-radius: 10px;
  background-color: #f6d247;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.image {
  max-width: 90%;
  margin-left: 95px;
}

.text-block {
  font-size: 20px;
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
}

.text-block-2 {
  font-size: 20px;
}

.button-2 {
  margin: 75px 112px;
}

.button-2.button {
  margin-top: -2px;
  margin-bottom: -2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.column {
  padding: 65px 21px 21px;
}

.paragraph-3 {
  margin-top: 41px;
  margin-bottom: 41px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-3 {
  padding: 0px 290px;
  font-size: 30px;
}

.heading-4 {
  padding: 0px 243px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 34px;
  text-align: center;
}

.paragraph-4 {
  padding: 25px 82px 0px;
}

.info {
  margin-top: 30px;
  padding: 0px 6px;
  border-radius: 0px;
}

.text-block-3 {
  margin-top: 15px;
}

.text-block-4 {
  margin-top: 15px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  text-align: center;
}

.text-block-5 {
  padding-top: 15px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  text-align: center;
}

.text-block-6 {
  margin-top: 15px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  text-align: center;
}

.text-block-7 {
  max-width: 300px;
  margin-top: 15px;
  margin-right: 23px;
  margin-left: 23px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  text-align: center;
}

.image-2 {
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 60px;
  background-color: #ffe72f;
}

.image-2.img-work {
  margin-right: 54px;
  margin-left: 54px;
  padding: 13px;
  border-radius: 30px;
  background-color: #ffe839;
}

.image-3 {
  margin-right: 16px;
  margin-left: 16px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
}

.image-3.img-work {
  margin-right: 45px;
  margin-left: 45px;
  padding: 13px;
  border-radius: 30px;
  background-color: #fe3b5f;
}

.image-4 {
  margin: 25px 26px;
  padding-right: 0px;
}

.image-4.img-work {
  margin: 0px 44px;
  padding: 13px;
  border-radius: 30px;
  background-color: #ffe839;
}

.image-5 {
  margin-right: 16px;
  margin-left: 16px;
}

.image-5.img-work {
  padding: 13px;
  border-radius: 30px;
  background-color: #fe3b5f;
}

.section-2 {
  margin: 0px;
  padding-bottom: 65px;
}

.paragraph-5 {
  margin-top: 25px;
  padding-right: 13px;
  padding-left: 13px;
  text-align: center;
}

.paragraph-6 {
  margin-top: 25px;
  padding-right: 13px;
  padding-left: 13px;
}

.image-6 {
  border-radius: 300px;
}

.image-7 {
  border-radius: 300px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.text-block-8 {
  color: #685013;
  font-size: 16px;
}

.paragraph-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph-8 {
  margin-top: 30px;
  padding-right: 44px;
  font-size: 20px;
}

.columns {
  background-image: url('../images/OPU4K00.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}

.column-2 {
  margin-top: 125px;
  padding-left: 67px;
  background-color: hsla(0, 0%, 100%, 0.61);
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.paragraph-9 {
  margin-bottom: 20px;
}

.columns-2 {
  margin-bottom: 49px;
}

.section-3 {
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: 31px;
  padding-bottom: 31px;
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.heading-6 {
  background-color: hsla(0, 0%, 100%, 0);
}

.ima {
  max-width: 50px;
  margin-top: 17px;
}

.column-3 {
  padding-left: 0px;
}

.column-4 {
  padding-left: 179px;
}

.text-block-9 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-block-10 {
  padding-top: 31px;
  padding-bottom: 31px;
}

.column-5 {
  padding-bottom: 1189px;
  padding-left: 165px;
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.drop {
  padding-right: 76px;
}

.column-6 {
  padding-left: 0px;
}

.columns-3 {
  padding-right: 332px;
  padding-left: 0px;
}

.section-4 {
  padding-bottom: 44px;
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.dropdown-toggle {
  padding-right: 164px;
}

.column-7 {
  padding-left: 70px;
}

.image-8 {
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.image-9 {
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.image-10 {
  padding-right: 31px;
  padding-bottom: 0px;
}

.image-11 {
  max-height: 1000px;
}

.column-9 {
  padding-right: 0px;
  padding-bottom: 628px;
  padding-left: 0px;
  background-image: url('../images/MEMPHIS-PATTERN-01.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.column-10 {
  margin-top: 91px;
  margin-bottom: 91px;
  padding-right: 54px;
  padding-left: 54px;
}

.form-text {
  max-width: 70%;
  margin-left: 10px;
  padding-left: 0px;
  border-radius: 12px;
}

.form-label {
  margin-top: 30px;
  margin-bottom: 18px;
  padding-left: 0px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}

.log-in-button {
  margin-top: 23px;
  margin-right: 61px;
  margin-left: 61px;
  padding: 13px 100px;
  border-radius: 7px;
}

.button-1 {
  margin-top: 40px;
  margin-right: 94px;
  margin-left: 94px;
  padding-right: 70px;
  padding-left: 70px;
  border-radius: 10px;
  background-color: #f6d247;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

.text-block-11 {
  color: #8d8d8d;
}

.container {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: hsla(0, 0%, 100%, 0.54);
}

@media screen and (max-width: 991px) {
  .column-5 {
    padding-bottom: 874px;
  }

  .column-8 {
    padding-right: 24px;
    padding-left: 23px;
  }
}

@media screen and (max-width: 479px) {
  .column-5 {
    padding-bottom: 77px;
    padding-left: 65px;
  }

  .drop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .column-9 {
    padding-bottom: 69px;
  }

  .column-10 {
    margin-top: 17px;
    padding-left: 16px;
  }

  .form-text {
    margin-bottom: -3px;
  }

  .form-label {
    margin-top: 13px;
    font-size: 16px;
  }

  .button-1 {
    margin: 17px 48px;
  }

  .text-block-11 {
    padding-left: 10px;
    font-size: 12px;
  }

  .heading-7 {
    font-size: 20px;
  }

  .heading-8 {
    font-size: 25px;
  }
}